name: Build Wheels

on:
  workflow_dispatch:
  release:
    types:
    - published

env:
  LIBNUML_SRC_DIR: ./libnuml
  LIBNUML_DEP_SRC: ./libnuml/submodules/libSBML-dependencies/
  LIBNUML_SBML_DEP_SRC: ./libnuml/submodules/libSBML/
  
jobs:
  make_sdist:
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0  # Optional, use if you use setuptools_scm
        submodules: recursive  # Optional, use if you have submodules

    - name: Build SDist
      run: |
        cp libnuml/src/bindings/python/setup.py .
        pipx run build --sdist

    - uses: actions/upload-artifact@v2
      with:
        path: dist/*.tar.gz
        name: libNUML-sdist
  
  build_wheels:
    name: Wheel on ${{ matrix.os }} for ${{ matrix.python_version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-10.15]
        python_version: ['cp37-*', 'cp38-*', 'cp39-*', 'cp310-*']

    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 0 
        submodules: recursive

    - name: Copy setup.py
      run: |
        cp libnuml/src/bindings/python/setup.py .

    - uses: pypa/cibuildwheel@v2.3.1
      env:
          CIBW_BUILD: ${{ matrix.python_version }}
          CIBW_ARCHS_MACOS: x86_64 arm64
          CIBW_ENVIRONMENT: LIBNUML_SRC_DIR=./libnuml LIBNUML_DEP_SRC=./libnuml/submodules/libSBML-dependencies/ LIBNUML_SBML_DEP_SRC=./libnuml/submodules/libSBML/

    - name: Upload wheels
      uses: actions/upload-artifact@v2
      with:
        path: wheelhouse/*.whl
        name: libNUML-${{ matrix.os }}
        
  upload_all:
    needs: [build_wheels, make_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: libNUML-sdist
        path: dist
    - uses: actions/download-artifact@v2
      with:
        name: libNUML-ubuntu-20.04
        path: dist
    - uses: actions/download-artifact@v2
      with:
        name: libNUML-macos-10.15
        path: dist
    - uses: actions/download-artifact@v2
      with:
        name: libNUML-windows-2019
        path: dist

    - uses: pypa/gh-action-pypi-publish@v1.4.2
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
        skip_existing: true
